.favorites .movies-grid>* {
    max-width: 250px;
    margin: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.favorites .movies-grid>*:hover {
    transform: translateY(-5px) scale(1.1);
    /* Moves up and enlarges slightly */
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
    /* Adds a glowing effect */
}